# ===[General state]===
VEKTOR_DATA_DIR=
# binds an address *and* a port (<addr>:<port>)
VEKTOR_LISTEN=
VEKTOR_SESSION_SECRET=

# ===[Authentication]===
VEKTOR_LOCAL_AUTH=

# OIDC related auth. Only applies if VEKTOR_LOCAL_AUTH is false
VEKTOR_OIDC_ISSUER=
VEKTOR_OIDC_CLIENT_ID=
VEKTOR_OIDC_CLIENT_SECRET=
VEKTOR_OIDC_REDIRECT_URL=

# ===[Logging]===
VEKTOR_LOG_FORMAT=
VEKTOR_LOG_LEVEL=
